.hero-menu {
    width: 100%;
    height: 800px;
    transition: all 3000ms ease-in-out;
}

.items {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    margin-top: 400px;
}

.items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 331px;
    height: 700px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
    border-radius: 10px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active {
    opacity: 1;
    z-index: 99;
}

.item.prev {
    z-index: 2;
    opacity: 0.25;
    scale: 0.95;
    transform: translate(-125%, -50%);
}

.item.next {
    z-index: 2;
    opacity: 0.25;
    scale: 0.95;
    transform: translate(25%, -50%);
}

@media screen and (max-width: 840px) {
    .items {
        scale: 0.9;
    }

    .item.prev {
        transform: translate(-110%, -50%);
    }

    .item.next {
        transform: translate(10%, -50%);
    }

    .hero {
        width: 100px;
    }
}

@media screen and (max-width: 640px) {
    .items {
        scale: 0.9;
    }

    .item.prev {
        transform: translate(-70%, -50%);
    }

    .item.next {
        transform: translate(-35%, -50%);
    }

    .hero {
        width: 100px;
    }
}

@media screen and (max-width: 400px) {
    .items {
        scale: 0.8;
    }

    .item.prev {
        transform: translate(-70%, -50%);
    }

    .item.next {
        transform: translate(-35%, -50%);
    }

    .hero {
        width: 100px;
    }
}

@media screen and (max-height: 680px) {
    .items {
        scale: 0.8;
    }
}

@media screen and (max-height: 450px) {
    .items {
        scale: 0.8;
    }
}



.items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    z-index: 100;
}

.button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}

.button-container .button:hover {
    opacity: 1;
}

.button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #7f640599;
    border-radius: 50%;
    z-index: -99;
}

.button-container .button:nth-child(1) {
    float: left;
}

.button-container .button:nth-child(2) {
    float: right;
}


.image {
    width: 100%;
    height: 100%;
    background-image: url('../img/menu1.jpg');
    background-size: cover;
}

.image2 {
    width: 100%;
    height: 100%;
    background-image: url('../img/menu2.jpg');
    background-size: cover;
}

.img1 {
    background-position: 0 0;
}

.img2 {    
    background-position: 50% 0; 
}

.img3 {
    background-position: 100% 0;
}